.audit-logs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 20px;
}

.section-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
}

.section-top h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #1E2A35;
}

.section-top span {
    font-size: 14px;
    color: #5F7383;
}

.section-top button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #1E2A35;
    border: 2px solid #EEF2F7;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.section-top button:hover {
    background: #1976D2;
    color: #FFFFFF;
}

.fa-solid {
    margin-right: 12px;
}

.audit-log-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: #FFFFFF;
    padding: 15px 25px;
    border: 2px solid #EEF2F7;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);
    margin-top: 10px;
    max-height: fit-content;
    margin-bottom: 25px;
    flex: 1;
}

.filter-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.audit-log-filter label {
    font-size: 10px;
    font-weight: bold;
    color: #5F7383;
}

.audit-log-filter select, .audit-log-filter input {
    font-size: 12px;
    background: #F4F4F4;
    color: #1E2A35;
    border: 2px solid #EEF2F7;
    border-radius: 8px;
    outline: none;
    padding: 8px 12px;
}

.audit-log-filter button {
    background: #4BA3C3;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 18px;
    padding: 8px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.audit-log-filter button:hover {
    background: #1565C0;
}

.audit-log-table-wrapper {
    background: #FFFFFF;
    border-radius: 12px;      
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);
    border: 1px solid #EEF2F7;
    overflow: hidden;        
    width: 100%;
}

.audit-log-table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.audit-log-table-wrapper table th {
    background: #F9FAFB;       
    color: #5F7383;          
    padding: 16px 20px;      
    font-size: 11px;        
    font-weight: 700;         
    text-transform: uppercase; 
    letter-spacing: 0.8px;    
    text-align: left;     
    border-bottom: 2px solid #EEF2F7;
}

.audit-log-table-wrapper table td {
    background: #FFFFFF;
    color: #1E2A35;          
    padding: 16px 20px;     
    font-size: 13px;
    border-bottom: 1px solid #EEF2F7; 
    vertical-align: middle;  
    text-align: left;        
    transition: background 0.2s;
    cursor: context-menu;
}

.audit-log-table-wrapper table tr:last-child td {
    border-bottom: none;
}

.audit-log-table-wrapper table tbody tr:hover td {
    background-color: #F8FBFD;
    font-weight: bold;
}

#no-found {
    font-size: 18px;
    font-weight: bold;
    color: #1E2A35;
    text-align: center;
    padding: 180px 0px;
}